<main class="main">
    <section class="content">
        <div class="main-container-wrapper">
            <div class="main-container">
                <span class="title-middle">Нормативно-правовые акты в области ГО и ЧС </span>
                <div class="documents-container">
                    <div class="documents-container-item"></div>
                </div>
                <span class="title-middle">Локальные документы</span>
                <div class="documents-container">

                </div>
            </div>
        </div>
    </section>
</main>