.documents-container{
    margin-bottom: 2rem;
}
.documents-container-item{
    border-radius: 4px;
    margin-top: 2rem;
    min-height: 3rem;
    width: 100%;
    border: 1px solid #989898;
    cursor: pointer;
}