.documents-container{
    margin-bottom: 2rem;
}
.documents-container-item{
    border-radius: 4px;
    margin-top: 2rem;
    min-height: 3rem;
    width: 100%;
    border: 1px solid #989898;
    cursor: pointer;
}
.main-container-wrapper {
  max-width: 60rem;
  margin: auto;
  padding-bottom: 2rem;
}
.main-container-wrapper{
  text-align: center;
}
.main-container{
  padding-top: 2rem;

}
