
<div class="header-wrapper">
        <header class="header">
                <img routerLink="/home" src="assets/imgs/logo.png" alt="" class="logo">
                <nav class="header-menu">
                    <div routerLink="/documents" class="header-menu-item">Документы</div>
                    <div routerLink="/briefings" class="header-menu-item">Инструктаж</div>
                    <div routerLink="/tests" class="header-menu-item">Темы</div>
                    <div routerLink="/booklets" class="header-menu-item">Памятки</div>
                    <a class="header-menu-item" target="_blank"  href="{{adminRoute}}">Админ панель</a>
                    <div routerLink="/results" class="header-menu-item">Результаты</div>
                    <div class="header-menu-item header-menu-item-user">

                    </div>
                </nav>
        </header>


</div>

