<main class="main">
   <section class="content">
    <div class="main-container-wrapper">
        <div class="main-container">
            <span class="title-middle">
             Темы для самостоятельного изучения
            </span>
            <div class="theme-grid">
                <div *ngFor="let theme of themes; let i = index" class="theme">
                    <div class="theme-title">
                        Тема {{i+1}}
                    </div>
                    <div class="theme-buttons">
                        <button class="read-button">Читать</button>
                        <button routerLink="/test/{{i+1}}" class="test-button">тест</button>
                    </div>
                </div>
               
            </div>
         </div>
    </div>
        
   </section>
</main>
