.main-container-wrapper{
    padding-top: 2rem;
}
.theme-grid{
    margin-top: 2rem;
    display: flex;
    max-width: 100%;
   flex-wrap: wrap;
   gap: 2rem;
}
.theme{
    border-radius: 5px;
    width: 25rem;
    padding-top: 1rem;
    padding-bottom: 1em;
    padding-right: 2rem;
    border: 3px solid #3b3f462f;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    flex-direction: column;
}
.theme-title{
    text-align: center;
    font-family: 'Montserrat-Medium';
    font-size: 1rem;

}
.read-button{
    cursor: pointer;
    margin-right: 0.5rem;
    background: #447CCD;
    color: #fff;
    font-family: 'Montserrat-Medium';
    border: none;
    min-width: 6.25rem;
    height: 2rem;
    border-radius: 4px;
}
.test-button{
    transition: 0.3s;
    cursor: pointer;
    background: #2075F1;
    color: #fff;
    font-family: 'Montserrat-Medium';
    border: none;
    font-size: 1rem;
    min-width: 12rem;
    height: 2rem;
    border-radius: 4px;
}
.test-button:hover{
    transition: 0.3s;
    background: #498cf1;
}
.read-button:hover{
    transition: 0.3s;
    background: #6098e6;
}
.theme-buttons{
    margin-top: 1rem;
    display: flex;
}