<main class="main">
   <section class="content">
    <div class="main-container-wrapper">
        <div class="main-container">
            <span class="title-middle">
             Темы для самостоятельного изучения
            </span>
            <div class="theme-grid">
                <div *ngFor="let theme of themes; let i = index" class="theme">
                    <div class="theme-title">
                        {{theme.title}}
                    </div>
                    <div class="theme-buttons">
                        <button routerLink="/theme-show/{{i+1}}" class="read-button">Читать</button>
                        <button routerLink="/test/{{i+1}}" class="test-button">Тест</button>
                    </div>
                </div>

            </div>
         </div>
    </div>

   </section>
</main>
