/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
}
.main{
    width: 100%;
    background: #fff;
}
.main-container{
    max-width: 85rem;
    margin: auto;
    padding-left: 8%;
    padding-right: 8%;
}