<main class="main">
    <section class="content">
     <div *ngIf="test" class="main-container-wrapper">
         <div class="main-container">
             <span class="title-middle">
                {{ test.title }}
             </span>
             <div class="select-container">
              <span class="title-little">Выберите себя: </span>
              <select class="select" (input)="selectDepartament($event)" name="" id="">
                <option class="select-item" value="">Выберите отдел</option>
                <ng-container *ngIf="departemnts">
                  <option class="select-item" *ngFor="let departemnt of departemnts; let i = index" [value]="i"> {{departemnt.title}}</option>
                </ng-container>

              </select>

               <select (input)="selectUser($event)" *ngIf="selectedDeprtament" name="" id="">
                <option class="select-item" value="">Выберите себя</option>
                <option class="select-item" *ngFor="let user of selectedDeprtament.employes; let userIndex = index" [value]="userIndex"> {{user.fio}}</option>

              </select>
             </div>

             <div class="question">

                <div class="answer">
                    <form>
                        <ng-container *ngFor="let question of test.questions; let i = index">
                            <div class="test-question title-small">{{ question.title }}</div>

                              <fieldset (input)="selectQuestion($event,i)" class="radio-group">
                                <ng-container *ngFor="let answer of question.answers;">
                                  <div class="radio-group-item">
                                    <div>
                                    </div>
                                      <input class="radio-group-input" [id]="answer.id" type="radio" [value]="answer.title" name="group{{i+1}}">
                                      <label [for]="answer.id">
                                          <div class="answer-text">
                                            {{answer.title}}
                                          </div>
                                      </label>
                                  </div>
                                </ng-container>
                                <div class="questions-number">{{i+1}} из {{test.questions.length}}</div>
                                <div class="border-block"></div>
                            </fieldset>


                        </ng-container>
                        <div *ngIf="selectedUser;" class="submit-test-wrapper">
                            <button (click)="submit()" class="submit-test" type="button">Завершить</button>
                        </div>

                        <div *ngIf="!selectedUser" class="submit-test-wrapper">
                            <button class="submit-test-disabled" type="button">Завершить</button>
                        </div>

                      </form>
                      <span class="error-message" *ngIf="!selectedUser">Выберите себя в начале теста для отправки результатов</span>
                </div>
             </div>
          </div>
     </div>

    </section>
 </main>
