<main class="main">
   
    <div class="content">
             
                    <div class="main-container_absolute">
                        <div class="main-container">
                            <div>
                                <span class="title">
                                    гражданская оборона и защита в чрезвычайных ситуациях                                   
                                </span>
                                <div>
                                    <button routerLink="/tests" class="test-button">пройти тест</button>
                                </div>
                             
                            </div>
                        </div>
                    </div>

               <video class="video" src="assets/videos/fire.mp4"  loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
               <div class="content-main-wrapper">
               </div>
    </div>
</main>
